SetEnv PHP_VER 5
<IfModule pagespeed_module>
	ModPagespeed off
</IfModule>
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f  
RewriteRule ^(.*)$ index.php?url=$1 [QSA]